<h3>Borrowed</h3>
<p>The <em>Borrowed</em> action signals that a resource has been loaned by one
    <a href="#Agent">Agent</a> to another for a period of time.
</p>

<dl>
    <dt>IRI</dt>
    <dd>https://purl.imsglobal.org/caliper/actions/Borrowed</dd>
    <dt>Term</dt>
    <dd>Bookmarked</dd>
    <dt>Related Gloss(es)</dt>
    <dd>WordNet: <a href="http://wordnet-rdf.princeton.edu/id/02329022-v">borrowed</a> -
        <em>get temporarily</em>
    </dd>
    <dt>Supported by</dt>
    <dd><a href="#Event">Event</a>, <a href="#ResourceUseEvent">ResourceUseEvent</a></dd>
</dl>