<h3>Activity</h3>

<p class="note" title="Meeting vs Activity">Recommendation: "Meeting" as a generic term for a
    gathering may be more appropriate than "Activity" since other Caliper events describe activities
    (e.g., taking an assessment, annotating a document)--arwhyte</p>

<p>A Caliper <code>Activity</code> represents a  meeting TODO . . . What about just LibraryActivity?</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/Activity">https://purl.imsglobal.org/caliper/Activity</a></dd>
    <dt>Term</dt>
    <dd>Activity</dd>
    <dt>Supertype</dt>
    <dd><a href="#Entity">Entity</a></dd>
    <dt>Properties</dt>
    <dd><code>Activity</code> inherits all properties defined by its supertype <a href="#Entity">Entity</a>, of
        which <code>id</code> and <code>type</code> are required. Additional type restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="#TermDef">Term</a></td>
        <td>The string value MUST be set to the Term <em>Activity</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>activityType</td>
        <td>string</td>
        <td>A non-standardized description of type of activity. Examples include: <code>reference</code>, <code>instruction</code>,
            <code>outreach</code>, <code>exhibit</code>.</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>interactionMode</td>
        <td>string</td>
        <td>A non-standardized description of the mode of interaction. Examples include: <code>in-person</code>, <code>online conference</code>,
            <code>chat</code>, <code>text</code>, <code>social media</code>, <code>phone</code>,
            <code>appointment</code>, <code>consultation</code>, <code>roving</code>, <code>embedded</code>,
            <code>email</code>.</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>synchronicity</td>
        <td><a href="#TermDef">Term</a></td>
        <td>A description of how the LibraryActivity was intended to be consumed. <code>synchronous</code>, <code>asynchronous</code>, <code>both</code>.</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>location</td>
         <td><a href="#Library">Library</a> | <a href="#LibrarySpace">LibrarySpace</a> | <a href="#IriDef">IRI</a></td>
        <td>The Library or LibrarySpace the Activity occurred in.</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>scheduledTime</td>
        <td>DateTime</td>
        <td>An ISO 8601 date and time value. The value MUST be set to UTC with no offset specified.
        </td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>actualTime</td>
        <td>DateTime</td>
        <td>An ISO 8601 date and time value. The value MUST be set to UTC with no offset specified.
        </td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>duration</td>
        <td>Duration</td>
        <td>The duration of the Activity. If a duration is specified the value MUST conform to the ISO 8601 duration format.</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>forCourse</td>
        <td><a href="#CourseOffering">CourseOffering</a> | <a href="#CourseSection">CourseSection</a> | <a href="#iriDef">IRI</a></td>
        <td>If the Activity is intended for a specific CourseOffering or CourseSection it can be referenced here.
        </td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>academicSession</td>
        <td>string</td>
        <td>A string value that constitutes a human-readable identifier of the designated period in which this Activity occurs. For example <code>Fall 2016</code>.
        </td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>exhibitMode</td>
        <td>string</td>
        <td>A non-standardized description of the mode of the exhibit. Examples include: <code>physical</code>, <code>online</code>,
            <code>hybrid online</code>, <code>traveling</code>, <code>pop-up</code>.</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>reportingCategory</td>
        <td>string</td>
        <td>A non-standardized description to classify the type of interaction for external reporting (e.g., ACRL, ARL).
            Examples include: <code>Directional</code>, <code>Technical</code>, <code>Reference</code>.</td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>

