<h3>Library</h3>
<p>A Caliper <code>Library</code> represents a . . . TODO.</p>

<p class="note" title="TODO">See <a href="https://libguides.ala.org/library-definition">ALA</a> for
    definition.</p>

    <p>As a subtype of <code>Organization</code> a
    <code>Library</code> can act as an <a href="#Agent">Agent</a>. It can be linked both to a
    parent <code>Organization</code> and to its <code>members</code>.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="http://purl.imsglobal.org/caliper/Organization">http://purl.imsglobal.org/caliper/Library</a></dd>
    <dt>Term</dt>
    <dd>Library</dd>
    <dt>Supertype</dt>
    <dd><a href="#Organization">Organization</a></dd>
    <dt>Properties</dt>
    <dd><code>Library</code> inherits all properties defined by its supertype
        <a href="#Organization">Organization</a>, of which <code>id</code> and <code>type</code>
        are required. Additional type restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
        <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Description</th>
            <th>Disposition</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>type</td>
            <td><a href="#termDef">Term</a></td>
            <td>The string value MUST be set to the <a href="#termDef">Term</a> <em>Library</em>.</td>
            <td>Required</td>
        </tr>
    </tbody>
</table>