<h3>ParticipationEvent</h3>
<img height="100%" width="100%" src="assets/caliper-participation-attended-v1p2.png" alt="ParticipationEvent">

<p>A Caliper <a href="#ParticipationEvent">ParticipationEvent</a> models a
    <a href="#Person">Person</a> attending a meeting, lecture, workshop, or any other Library function,
whether ad-hoc or scheduled.</p>

<dl>
    <dt>IRI</dt>
    <dd><a href="https://purl.imsglobal.org/caliper/ParticipationEvent">https://purl.imsglobal.org/caliper/ParticipationEvent</a></dd>
    <dt>Term</dt>
    <dd>ParticipationEvent</dd>
    <dt>Supertype</dt>
    <dd><a href="#Event">Event</a></dd>
    <dt>Properties</dt>
    <dd>The <code>ParticipationEvent</code> inherits all properties defined by its supertype
        <a href="#Event">Event</a>, of which <code>id</code>, <code>type</code>, <code>actor</code>,
        <code>action</code>, <code>object</code>, and <code>eventTime</code> are required.
        Profile-specific type restrictions are described below:
    </dd>
</dl>

<table>
    <thead>
    <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
        <th>Disposition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td><a href="#termDef">Term</a></td>
        <td>The string value MUST be set to the <a href="#termDef">Term</a>
            <em>ParticipationEvent</em>.</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>actor</td>
        <td><a href="#Person">Person</a> | <a href="#iriDef">IRI</a></td>
        <td>The <a href="#Person">Person</a> who initiated the <code>action</code>. The
            <code>actor</code> value MUST be expressed either as an object or as a string
            corresponding to the actor’s <a href="#iriDef">IRI</a>.
        </td>
        <td>Required</td>
    </tr>
    <tr>
        <td>action</td>
        <td><a href="#termDef">Term</a></td>
        <td>The action or predicate that binds the <code>actor</code> or subject to the
            <code>object</code>. The value range is limited to the
            <a href="#action-attended">Attended</a> TODO add other actions? . . . only.
        </td>
        <td>Required</td>
    </tr>
    <tr>
        <td>object</td>
        <td><a href="#Activity">Activity</a> | <a href="#iriDef">IRI</a></td>
        <td>The <a href="#Activity">Activity</a> that constitutes
            the <code>object</code> of the interaction. The <code>object</code> value MUST be
            expressed either as an object or as a string corresponding to the object’s
            <a href="#iriDef">IRI</a>.
        </td>
        <td>Required</td>
    </tr>
    <tr>
        <td>participationMode</td>
        <td>string</td>
        <td>The mode the Person participated in for example <code>virtual</code>,
            <code>in-person</code>.
        </td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>forCourse</td>
        <td><a href="#CourseOffering">CourseOffering</a> | <a href="#CourseSection">CourseSection</a> | <a href="#iriDef">IRI</a></td>
        <td>If attending for a specific CourseOffering or CourseSection it can be referenced here.
        </td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>arrivalTime</td>
        <td>DateTime</td>
        <td>An ISO 8601 date and time value. The value MUST be set to UTC with no offset specified.
        </td>
        <td>Optional</td>
    </tr>
    </tbody>
</table>